@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #2c3338;
  color: #606468;
  font: 400 0.875rem/1.5 "Open Sans", sans-serif;
  margin: 0;
  min-height: 100%;
	 background-image: url("../Images/Backgrounds/ForestBackGround.jpg");
background-size:cover;
}

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}

.site__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0;
	padding-bottom:0;
	width:100%;
	height:100%;
	position:relative;
	display: flex;
	align-items: center;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}
.form--login {
  color: rgba(24,34,87,1);
  font-size:1.25rem;
}
.form--login label,
.form--login input[type="text"],
.form--login input[type="password"],
.form--login input[type="submit"] {
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 1rem;
}
.form--login label {
  background-color: rgba(82,92,145,1);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
	width:55px;
}
.form--login input[type="text"], .form--login input[type="password"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover {
  background-color: #434A52;
}
.form--login input[type="submit"] {
  	background-color: rgba(168,56,59,.9);
  	color: #eee;
  	font-weight: bold;
 	width:100%;
	height:80px;
 	text-transform: uppercase;
	-webkit-appearance: none;
	display:inline-block;
	position:relative;
}
.form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover {
  background-color: #FDA9AB;
}
.form__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.form__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}

.grid__container {
  margin: 0 auto;
  max-width: 20rem;
  width: 90%;
}
.glass {
  position: relative;
  padding: 0 0;
  width:100%;
  height:100%;
  max-height:607px;
  min-height:450px;
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius:10px;
	padding:1px;

}

.glass::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
	max-width:200px;
  height: 100%;
}
.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}
.titlebar
{
	width:100%;
	min-height:50px;
	text-align:center;
	vertical-align:middle;
	line-height:70px;
	background-color:rgba(126,21,24,.8);
	color: #eee;
  	font-weight: bold;	
  	text-transform: uppercase;
	margin-bottom: 3rem;
	border-radius:10px 10px 0 0;
}
.bottombar
{
	width:100%;
	height:15px;
	display:inline-block;
	position:relative;
	background-color:rgba(126,21,24,.8);
	border-radius: 0 0 10px 10px;
}
.onBottom
{
	display:inline-block;
	position:absolute;
	margin-bottom:0;
	bottom:0;
	width:100%;
	padding-right:2px;
}