@import url(http://weloveiconfonts.com/api/?family=entypo);
html,
body {
	margin: 0;
	padding: 0;
	background:none;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	width: 1000px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@media screen and (max-width: 800px) {
	body {
		width: 100%;
	}
}

button,
input[type="checkbox"] {
  outline: none;
}

#todoapp {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 130px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#todoapp:before {
	content: '';
	border-left: 1px solid #f5d6d6;
	border-right: 1px solid #f5d6d6;
	width: 2px;
	position: absolute;
	top: 0;
	left: 40px;
	height: 100%;
}

#todoapp input::-webkit-input-placeholder {
	font-style: italic;
}

#todoapp input::-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#todoapp h1 {
	position: absolute;
	top: -120px;
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

#new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#new-todo {
	padding: 16px 16px 16px 60px;
	border: none;
	background: transparent;
	z-index: 2;
	width: 80%;
	display: inline;
	box-shadow: none;
}

#todo-form {
	background: rgba(0, 0, 0, 0.02);
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
	display: none;
}

#toggle-all {
	position: absolute;
	top: -42px;
	left: -4px;
	width: 40px;
	text-align: center;
	/* Mobile Safari */
	border: none;
}

#toggle-all:before {
	content: '»';
	font-size: 28px;
	color: #d9d9d9;
	padding: 0 25px 7px;
}

#toggle-all:checked:before {
	color: #737373;
}

#todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

#todo-list li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 5px;
	transition: all 0.4s;
}

#todo-list li.high:before {
	background-color: #e74c3c;
}

#todo-list li.normal:before {
	background-color: #e67e22;
}

#todo-list li.low:before {
	background-color: #54b702;
}

#todo-list li.completed:before {
	opacity: 0.3;
}

#todo-list li:last-child {
	border-bottom: none;
}

#todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

#todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#todo-list li.editing .view {
	display: none;
}

#todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	/* Mobile Safari */
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#todo-list li .toggle:after {
	content: '✔';
	/* 40 + a couple of pixels visual adjustment */
	line-height: 43px;
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#todo-list li label {
	white-space: pre;
	word-break: break-word;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

#todo-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#todo-list li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

#todo-list li .destroy:after {
	content: '✖';
}

#todo-list li:hover .destroy {
	display: block;
}

#todo-list li .edit {
	display: none;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
	float: left;
	text-align: left;
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

#filters li {
	display: inline;
}

#filters li a {
	color: #83756f;
	margin: 2px;
	text-decoration: none;
}

#filters li a.selected {
	font-weight: bold;
}

#clear-completed {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	font-size: 11px;
	padding: 0 10px;
	border-radius: 3px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#todo-list li .toggle {
		background: none;
	}

	#todo-list li .toggle {
		height: 40px;
	}

	#toggle-all {
		top: -56px;
		left: -15px;
		width: 65px;
		height: 41px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}


/*Main Colors*/
*{
-webkit-font-smoothing:antialiased;
color:inherit;
text-decoration:none;}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}




/* Change base color for each links*/













#list{
width:140px;
left:-20px;}
.link{
  background:#34495e;
  width:140px;
  height:60px;
  box-shadow:1em 0px  #2c3e50,inset 0 1px 0 rgba(0,0,0,.05);
  cursor:pointer;
  display:block ;
  transition:box-shadow .4s ease,padding .35s ease;
}
.link span{
  display:block;
  width:40px;
  height:60px;
  background:#eee;
  float:left;
  font-size:2.5em;
  line-height:1.5em;
  margin:-1.48em auto;  
  text-align:center;
  color:#34495e;
  position:relative;
  z-index:2;
  box-shadow:.5em 0px  #2c3e50,inset 0 1px 0 rgba(0,0,0,.05);
  transform:rotate(0deg);
  transition:z-index 0s ease .35s;
}
.link p:before{
  content:'';
  position:absolute;
  z-index:1;
  display:block;
  width:20px;
  height:20px;
  margin:1em -1.7em;
 background:#2c3e50;
transform:rotate(-45deg);
  opacity:0;
}
.link p{
  font-size:1.4em;
  width:80px; 
  display:block;
  float:left;
  padding-left:.7em;
  padding-top:0;
  margin:0;
  line-height:2.7;
  color:#eee;
  font-family:helvetica;
  transition: .4s ease;
}

.link:hover{
 background:#16a085;
  box-shadow:1em 0px  #1abc9c,inset 0 1px 0 rgba(0,0,0,.05);
  padding-right:1em;
  span{
    color:#16a085;
   box-shadow:.5em 0px #1abc9c;
    z-index:0;
  }
  p{
    padding-left:6em;
    
    color:#ecf0f1;
    &:before{
      background:#1abc9c;
      margin:1em -2.7em;
        opacity:1
      }
   }
}


.link:nth-child(2):hover{
 background:#27ae60;
  box-shadow:1em 0px  #2ecc71,inset 0 1px 0 rgba(0,0,0,.05);
  span{
    color:#27ae60;
   box-shadow:.5em 0px #2ecc71;
  }
  p:before{
      background:#2ecc71;
      }
}
.link:nth-child(3):hover{
 background:#2980b9;
  box-shadow:1em 0px  #3498db,inset 0 1px 0 rgba(0,0,0,.05);
  span{
    color:#2980b9;
   box-shadow:.5em 0px #3498db;
  }
  p:before{
      background:#3498db;
      }
}
.link:nth-child(4):hover{
 background:#d35400;
  box-shadow:1em 0px  #e67e22,inset 0 1px 0 rgba(0,0,0,.05);
  span{
    color:#d35400;
   box-shadow:.5em 0px #e67e22;
  }
  p:before{
      background:#e67e22;
      }
}
.link:nth-child(5):hover{
 background:#c0392b;
  box-shadow:1em 0px  #e74c3c,inset 0 1px 0 rgba(0,0,0,.05);
  span{
    color:#c0392b;
   box-shadow:.5em 0px #e74c3c;
  }
  p:before{
      background:#e74c3c;
      }
}

table {
    border-collapse:collapse;
	border-spacing: 0;

}
